<html>
<head><title>Get a network</title></head>
<body>

        <h3>Enter a start year and an end year</h3>
        <form action="" method="post">
            <p><label>
                Start year:
                <input type=integer name=startyear>
            </label></p>
            <p><label>
                End year:
                <input type=integer name=endyear>
            </label></p>
            <p><input type=submit value="Make it!"></p>
        </form>
        <div class='networkplot'>
 			<img src= "/static/temp/{{plotPng}}.png">
		</div>




</body>
</html>