<html>
<head><title>Chinese Political Elites Database Project</title></head>
<body>

        <h4>Chinese Political Elites Database Project</h4>
        <tr>The Chinese Political Elites Database contains CVs of Chinese political elites who have at least reached the rank of vice-governor or vice-minister since 1966. It is maintained by National Chengchi University in Taiwan, and the CVs are shown as webpages on the original website. The aim of my project is to webscrape all of the contents of the CVs and save them into a database on my local machine. The data can be used to draw networks of inter-provincial flows of Chinese political elites. </tr>
        <ul>
            <li><a href="/database/">View Database</a></li>
            <li><a href="/network/">Draw Networks</a></li>
        </ul>
</body>
</html>